<!DOCTYPE html>
<html>
  <head>
    <title>MovieDB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/campton" rel="stylesheet">


    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="bg-gray-50 min-h-screen">
    <%= render 'layouts/navbar' %>

    <% if flash[:notice] %>
      <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mx-4 my-2" role="alert">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mx-4 my-2" role="alert">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
